*{
    margin: 0;
    padding: 0;
    font-family: Garamond, Arial, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
}

header{
    width: 100%;
    height: 400px;
    display: block;
    background-image: url("https://img.freepik.com/fotos-premium/pao-italiano-fresco_100488-1139.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

header h1{
    font-size: 40px;
    color: white;
    display: block;
    float: left;
    width: 300px;
    margin-left: 600px;
    padding-top: 200px;
}

body{
    background-color:sandybrown;
}

main article{
    width: 90%;
    height: auto;
    display: block;
    margin-left: 5%
}

main article h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    color: white;
    line-height: 38px;
}

main article h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    color: white;
    line-height: 38px;
}

main article p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    margin-bottom: 12px;
    color: black;
}

main article img{
    width: 50%;
    padding-left: 25%; 
}
