*{
    margin: 0;
    padding: 0;
    font-family: Garamond, Arial, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
}

header{
    width: 100%;
    height: 400px;
    display: block;
    background-image: url("https://img.freepik.com/fotos-premium/pao-italiano-fresco_100488-1139.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

header h1{
    font-size: 40px;
    color: white;
    display: block;
    float: left;
    width: 300px;
    margin-left: 600px;
    padding-top: 200px;
}

body{
    background-color:sandybrown;
}

main article{
    width: 90%;
    height: auto;
    display: block;
    margin-left: 5%
}

main article h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    color: white;
    line-height: 38px;
}

main article h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    color: white;
    line-height: 38px;
}

main article p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    margin-bottom: 12px;
    color: black;
}

main article img{
    width: 50%;
    padding-left: 25%; 
}

footer{
    width: 100%;
    display: block;
    height: 509px;
    float: left;
    background-color:wheat;
    margin: 5px;
}

footer div{
    width: 33%;
    display: block;
    height: 400px;
    float: left;
}

footer h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 30px;
    color: black;
}

footer div h1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

footer div p{
    font-size: 18px;
    text-align: center;
}

footer div img{
    width: 400px;
    height: 255px;
    width: 80%;
    padding-left: 10%; 
}

footer h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    color: orangered;
}
